BikeShared/BikeShared/web/WEB-INF/wsdl/localhost_5000/D10_Station.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="obterInfoEstacao" type="tns:obterInfoEstacao" />

<xs:element name="obterInfoEstacaoResponse" type="tns:obterInfoEstacaoResponse" />

<xs:complexType name="obterInfoEstacao">
<xs:sequence>
<xs:element name="id_estacao" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterInfoEstacaoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>